

// ---------- colors ----------

$colorMain: "";
$colorSecondary: "";

// ---------- effects ----------

$translucent: 0.2;
$flip: rotate(180deg);

// ---------- easing ----------

$ezpz: cubic-bezier(0.65, 0, 0.35, 1);

// ---------- dimensions ----------

$gap: 36px;
$rad: 18px;
$pad: 64px;

// ---------- animations ----------

$trans: 0.2;

$quick: 300ms;
$slow: 1s;
$drag: 2s;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// ---------- staging ----------

.enter {
  opacity: 1 !important;
  transform: translate(0px, 0px) scale(1) !important;
  transition: 2s;
}

.stage-left {
  opacity: 0 !important;
  transform: translate(-500px, 0px) scale(0.8);
  transition: 1.5s !important;
  transition-delay: 0s;
}

.stage-right {
  transform: translate(500px, 0px);
  opacity: 0 !important;
  transition: 2s $ezpz !important;
  transition-delay: 0ms;
}

.stage-up {
  opacity: 0;
  transition: 1s;
  transform: translate(0px, -64px);
}

.stage-down {
  opacity: 0;
  transition: 2s;
  transform: translate(0px, 300px);
}

.stage-in {
  opacity: 0;
  transform: scale(0.8);
  transition: 1s;
}

.big-image-stage {
  width: 0%;
  //transition-delay: 1.2s !important;
  transition: 1.5s !important;
  filter: brightness(0.3);
}

.big-image-enter {
  width: 178vw;
  //transition-delay: 1s !important;
  transition: 3s $ezpz;
  opacity: 1;

  .lil-wave {
    //filter: brightness(1);
  }
}

.big-image2-stage {
  width: 0%;
  //transition-delay: 1.2s !important;
  transition: 1.5s !important;
  filter: brightness(0.3);
}

.big-image2-enter {
  width: 180vw;
  transition-delay: 950ms !important;
  transition: 3s $ezpz;
  opacity: 1;
}

.big-image3-stage {
  width: 0%;
  //transition-delay: 1.2s !important;
  transition: 1.5s !important;
  filter: brightness(0.3);
}

.big-image3-enter {
  width: 300vw;
  transition-delay: 950ms !important;
  transition: 3s $ezpz;
  opacity: 1;
}

.wave-enter {
  //background: red !important;
  opacity: 1 !important;
  background-position-y: 50vh;
  transition: 2s;

}

.wave-stage {
  //background: blue !important;
  opacity: 1 !important;
  background-position-y: 125vh;
  transition: 2s;
}

.text-section-stage {
  width: 100vw !important;
  transition: 2s;
}

.text-section-enter {
  width: 20vw !important;
  transition: 2s;
}

.arrows-enter {
  transform: scale(0.5);
  opacity: 1;
  transition: 1s;
  transition-delay: 3.5s !important;
}

.arrows-stage {
  opacity: 0;
  transform: scale(0.2);
  transition: 1s;
}

.delay-enter {
  opacity: 1;
  transform: scale(1);
  transition-delay: 3s !important;
  transition: 1s;
}

.delay-stage {
  opacity: 0;
  
  //transition-delay: 2s !important;
  transition: 1s;
}

// ---------- social ----------

.soc-button {
    width: 24px;
    height: 24px;
    //background: white;
    //padding: 12px;
    margin-left: 24px;
    //border-radius: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: $quick;
    opacity: $translucent;

    &:hover {
      opacity: 1;
    }
  }

  // ---------- scrollbar ----------

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
    border: 4px solid black;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bbb; 
  }

  // ---------- graphics ----------

  .icon {
    height: 24px;
    width: 24px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .graphic {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .full-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  // ---------- assets ----------

  $clock: url('../assets/icons/clock.svg');
  $arrow: url('../assets/icons/arrow.svg');
  $logoEmblem: url('../assets/podular-white-emblem.png');
  $logoFull: url('../assets/podular-white.png');
  $logoText: url('../assets/podular-text-white.png');
  $wave: url('../assets/wave.svg');
  $wave2: url('../assets/wave2.svg');